
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools 
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet
/target/
#.idea
.idea/workspace.xml
.idea/*.*
/.idea/
.idea
.metadata
*.iml
*.iws
*.ipr
*.ids
*.orig



# JDT-specific (Eclipse Java Development Tools)
.classpath

#screenshots
/src/main/screenshot
FailedTestsScreenshots/
../FailedTestsScreenshots/

# other branch
../CommanderN/
../CucumberTest_NGsrc/

#chormeDriver
src/main/resources/chromedriver.exe

# css file
*.css

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
#log file
**/*.log

#other folders
src/test/test-output/*

# Eclipse Core
.project